<nav class="doc-sidebar">
<ul class="list-unstyled">
  <li>
    <h4>Get started</h4>
    <ul class="list-unstyled">
      <li><a href="/docs/">Introduction</a></li>
      <li><a href="/docs/started/installation/">Installation</a></li>
      <li><a href="/docs/started/structure/">Directory structure</a></li>
      <li><a href="/docs/started/servers/">Web servers</a></li>
      <li><a href="/docs/started/configuration/">Configuration</a></li>
      <li><a href="/docs/started/hello/">Hello API</a></li>
    </ul>
  </li>
  <li>
    <h4>The Basics</h4>
    <ul class="list-unstyled">
      <li><a href="/docs/core/di/">Dependency Injection Container</a></li>
      <li><a href="/docs/core/routes/">Routes</a></li>
      <li><a href="/docs/core/endpoints/">Endpoints</a></li>
      <li><a href="/docs/core/error-handling/">Error handling</a></li>
      <li><a href="/docs/core/http/">Request and Response</a></li>
    </ul>
  </li>
  <li>
    <h4>Cache providers</h4>
    <ul class="list-unstyled">
      <li><a href="/docs/cache/introduction/">Introduction</a></li>
      <li><a href="/docs/implement/cache/">Implement your own</a></li>
      <li><a href="/docs/cache/memcache/">Memcache</a></li>
    </ul>
  </li>
  <li>
    <h4>Middleware</h4>
    <ul class="list-unstyled">
      <li><a href="/docs/middleware/introduction/">Introduction</a></li>
      <li><a href="/docs/implement/middleware/">Implement your own</a></li>
      <li><a href="/docs/middleware/content-negotiation/">Content Negotiation</a></li>
      <li><a href="/docs/middleware/courier/">Courier</a></li>
      <li><a href="/docs/middleware/method-override/">Method Override</a></li>
      <li><a href="/docs/middleware/mistake/">Mistake</a></li>
      <li><a href="/docs/middleware/postbox/">Postbox</a></li>
      <li><a href="/docs/middleware/route/">Route</a></li>
      <li><a href="/docs/middleware/uuid/">Uuid</a></li>
    </ul>
  </li>
  <li>
    <h4>Serializers</h4>
    <ul class="list-unstyled">
      <li><a href="/docs/serializers/introduction/">Introduction</a></li>
      <li><a href="/docs/implement/serializers/">Implement your own</a></li>
      <li><a href="/docs/serializers/json/">JSON</a></li>
      <li><a href="/docs/serializers/yaml/">YAML</a></li>
    </ul>
  </li>
  <li><a href="/docs/contributions/">Contributions</a></li>
</ul>
</nav>
